.container {
    width: 150px;
    height: 100px;
    background-color: lightsteelblue;
    background-image: url("code-pexels.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
