.container-fluid {
    background-color: lightsteelblue;
}

.header {
    text-align: center;
}

.home-header {
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background: lightgray url("background-black-clouds-696680.jpg") no-repeat center;
    text-align: center;
}
.pitch {
    background-color: #bd9897;
    opacity: .7;
    margin-top: 280px;
}
.about-me {
    width: 100vw;
    height: 100vh;
    background-color: black;
    text-align: center;
    color: lightsteelblue;
}
.projects-skills {
    width: 100vw;
    height: 50vh;
    background-color: black;
    text-align: center;
    color: lightsteelblue;
}
.code-image {
    width: 100vw;
    height: 80vh;
    background-size: contain;
    background: lightgray url("codes-coding-computer-247791.jpg") no-repeat center;
    text-align: center;
}
.background {
    width: 100vw;
    height: 100vh;
    background-color: black;
    text-align: center;
    color: lightsteelblue;
}
.contact-resume {
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background: lightgray url("background-black-clouds-696680.jpg") no-repeat center;
    text-align: center;
}